.jse-theme-big {
  --jse-menu-color: #ff3e00;
  --jse-menu-color-light: #fd5e2d;

  --jse-font-family: courier New;
  --jse-font-family-mono: courier New;
  --jse-font-size: 32px;
  --jse-font-size-small: 24px;
  --jse-font-size-mono: 32px;

  --jse-button-primary-background: #ff3e00;
  --jse-button-primary-background-highlight: #e74c1c;
  --itemIsActiveBG: #fd5e2d;

  --jse-context-menu-button-size: 32px;

  --jse-context-menu-background: #ff3e00;
  --jse-context-menu-background-highlight: #ea3600;
  --jse-context-menu-text-color: #fff;
  --jse-context-menu-text-color-disabled: rgba(255, 255, 255, 0.4);
  --jse-context-menu-separator-color: rgba(255, 255, 255, 0.2);
}
