@import '../../../styles';

.code-mode {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: $white;

  .contents {
    width: 100%;
    height: 100%;

    &:not(.visible) {
      visibility: hidden;
    }
  }
}
