@import '../../../styles';

.code-mode {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .contents {
    width: 100%;
    height: 100%;
  }

  .info {
    background: $red;
    color: white;
    padding: $padding;
  }
}
