@import '../../../styles';

.code-mode {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: $white;

  .contents {
    flex: 1;

    &:not(.visible) {
      visibility: hidden;
    }
  }
}
