@import '../../styles';

.jsoneditor {
  width: 100%;
  height: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  position: relative;

  &:not(.visible) {
    visibility: hidden;
    height: 0;
    min-height: 0;
  }

  .hidden-input-label {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;

    .hidden-input {
      width: 0;
      height: 0;
      padding: 0;
      border: 0;
      outline: none;
    }
  }

  .contents {
    flex: 1;
    overflow: auto;
    background: $contents-background;
    position: relative;
    padding: $contents-padding;
  }
}
