@import '../../styles';

.jsoneditor-modal {
  // styling for the select box, svelte-select
  // see docs: https://github.com/rob-balfre/svelte-select#styling
  --height: 36px;
  --multiItemHeight: 28px;
  --multiItemMargin: 2px;
  --multiItemPadding: 2px 8px;
  --multiClearTop: 5px;
  --multiItemBorderRadius: 6px;
  --clearSelectTop: 2px;
  --clearSelectBottom: 2px;
  --itemIsActiveBG: #3883fa; // theme-color

  font-family: $font-family;
  font-size: $font-size;
  color: $black;

  .contents {
    padding: 20px;

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      padding-top: $padding;
    }
  }
}

// custom styling for the modal.
// FIXME: not neat to override global styles!
:global(.bg) {
  width: 100%;
  height: 100%;
}
:global(.bg .window-wrap) {
  margin: 0;
}
:global(.bg .window) {
  max-width: 80%;
  margin: 4rem auto 2rem auto;
}

:global(.bg .content) {
  max-height: calc(100vh - 6rem);
}
