@import '../../styles';
@import 'Modal';

.jsoneditor-modal.sort {
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: none;

    th, td {
      text-align: left;
      vertical-align: middle;
      font-weight: normal;
      padding-bottom: $padding;

      input.path {
        width: 100%;
        box-sizing: border-box;
        padding: 6px 16px; // TODO: define variables for those props
        border: 1px solid $border-gray;
        border-radius: $border-radius;
        font-family: $font-family;
        font-size: $font-size;
        color: $black;
        outline: none;

        &:read-only {
          border: 1px solid $background-gray;
        }
      }
    }
  }
}
