@import '../../../styles';

// TODO: create a class shared by .expand and .validation-error buttons
button.validation-error {
  @include jsoneditor-button;

  color: $warning-color;
  padding: 0 $input-padding;
  height: $line-height;
  line-height: $line-height;
  font-size: $font-size;
  position: relative;
  top: 2px;
}
