@import '../../../../styles';

.context-menu-button {
  $size: 18px;

  position: absolute;
  top: -$size/2;
  right: -$size/2;
  width: $size;
  height: $size;
  padding: 0;
  margin: 0;
  z-index: 2;

  cursor: pointer;
  background: transparent;
  font-size: $font-size-mono;
  line-height: $line-height;

  background: $dark-gray;
  color: $white;
  border: none;
  border-radius: 2px;
  box-shadow: $box-shadow;

  &:hover {
    background: lighten($dark-gray, 10%);
    color: $white;
  }
}
