@import '../styles';
@import 'modes/treemode/json-node-selected-mixin.scss';

.jsoneditor-main {
  width: 100%;
  height: 100%;
  border: 1px solid $theme-color;
  position: relative;

  &.focus {
    box-shadow: $outline-shadow;
  }
}
