
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-family-mono: consolas, monaco, "lucida console", "courier new",  "dejavu sans mono", "droid sans mono", courier, monospace, sans-serif;
$font-size-mono: 14px;
$font-size: 16px;
$font-size-small: 11px;

$white: #fff;
$black: #1a1a1a;
$red: #ee5341;
$green: #9ac45d;
$contentsMinHeight: 150px;
$theme-color: #3883fa;
$theme-color-light: lighten($theme-color, 5%);
$floating-menu-background: #4d4d4d;
$floating-menu-color: #fff;
$selected-color: #ffe665;
$highlight-color: #ffe665;
$highlight-hover-color: #f0f000;
$highlight-active-color: #ffd700;
$highlight-active-hover-color: #f3cd00;
$warning-color: #FBB917;
$error-background-color: #ffef8b;
$error-border-color: #ffd700;
$dark-gray: #656565;
$gray: rgb(157, 157, 157); // #9d9d9d
$gray-transparent: rgba(0, 0, 0, 0.38); // #9d9d9d but with transparency
$light-gray: rgb(192, 192, 192); // #c0c0c0
$light-gray-transparent: rgba(0, 0, 0, 0.25); // #c0c0c0

$contents-background: $white;
$selection-background: $theme-color;
$selection-color: $white;
$hovered-background: rgb(240, 240, 240); // #f0f0f0
$hovered-background-transparent: rgba(0, 0, 0, 0.06); // #f0f0f0, with transparency
$background-gray: #f5f5f5;
$border-gray: #d8dbdf;
$meta-color: $gray-transparent;
$edit-border-color: darken($theme-color, 30%);

$line-height: 18px;
$indentation-width: 18px; // IMPORTANT: keep in sync with js constant INDENTATION_WIDTH
$menu-button-size: 32px;
$pressed-button-margin: 1px;
$input-padding: 5px;
$search-box-offset: 10px;
$border-radius: 3px;

$padding: 10px;
$menu-padding: 5px;
$bottom-height: 5px;
$contents-padding: 2px;

$box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.24);
$outline-shadow: 0 0 10px 0 rgba(56, 131, 250, 0.8);

button {
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  font-family: $font-family;
  font-size: $font-size;
  padding: $menu-padding;
}

button.primary {
  background: $theme-color;
  color: $white;
  padding: $padding 2 * $padding;
  border-radius: $border-radius;

  &:hover {
    background: lighten($theme-color, 7%);
  }

  &:disabled {
    background: $gray;
  }
}
